.categories {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.form {
    background-color: #303030;
    padding-left: 20;
    padding-right: 20;
    margin-top: 30;
    border-top-width: 0.3;
    border-bottom-width: 0.3;
    border-bottom-color: #ffb204;
    border-top-color: #ffb204;
}

.invalid {
    color: red;
    font-size: 18;
    text-align: center;
}

.title {
    text-align: center;
    color: #ffb204;
    font-size: 25;
}

TextField {
    color: #e4d8c9;
    font-size: 17;
    text-align: center;
}

.category-group {
    margin: 5;
    width: 40%;
}

.category-item {
    border-width: 0.3;
    border-color: #ffb204;
    background-color: #303030;
    color: #ffb204;
    margin: 1;
    margin-top: 10;
    margin-bottom: 10;
}

.selected {
    border-width: 0.7;
    border-color: #424242;
    color: #424242;
    background-color: #ffb204;
}

.header-category {
    font-size: 23;
    font-weight: bold;
}

.item-text {
    font-size: 20;
}

.yellow-button {
    border-radius: 10;
    border-color: #ffb204;
    border-width: 0.7;
    background-color: #303030;
    color: #ffb204;
    font-size: 20;
    margin-bottom: 15;
}

.alert-button {
    border-radius: 10;
    border-color: #ff6004;
    border-width: 0.7;
    background-color: #303030;
    color: #ff6004;
    font-size: 20;
    margin-bottom: 15;
}

.warning {
    color: #ffb204;
    font-size: 20;
    text-align: center;
    border-bottom-width: 0.3;
    border-bottom-color: #ffb204;
    margin-right: 10;
    margin-left: 10;
    padding-bottom: 10;
}