<ScrollView>
    <FlexboxLayout class="background p-t-20">
        <StackLayout [formGroup]="emailForm" class="form">
            <Label textWrap="true" class="card-title" text="Enter email of a person you want to send a request to!"></Label>
            <TextField type="email" formControlName="email" class="input"></TextField>
            <Button (tap)="confirm()" text="Send request" class="yellow-button"></Button>
            <Button class="alert-button" text="Back" (tap)="back()"></Button>
        </StackLayout>
    </FlexboxLayout>
</ScrollView>