<ScrollView>
    <StackLayout class="background p-t-20">
        <StackLayout [formGroup]="emailForm" class="form-group">
            <Label textWrap="true" class="card-title" text="Enter email of a person you want to send a request to!"></Label>
            <TextField type="email" formControlName="email" class="form-control"></TextField>
            <Button (tap)="confirm()" text="Send request" class="yellow-button"></Button>
        </StackLayout>
        <Button class="alert-button" text="Back" (tap)="back()"></Button>
    </StackLayout>
</ScrollView>