.yellow-button {
    border-radius: 10;
    border-color: #ffb204;
    border-width: 0.7;
    background-color: #303030;
    color: #ffb204;
    font-size: 20;
    margin-bottom: 15;
}

.background {
    height: 100%;
    background-color: #303030;
    align-items: center;
}

.input {
    font-size: 18;
    color: #ffb204;
    text-align: center;
}

.card-title {
    font-size: 20;
    color: #ffb204;
    font-weight: bold;
    text-align: center;
}

.alert-button {
    border-radius: 10;
    border-color: #ff6004;
    border-width: 0.7;
    background-color: #303030;
    color: #ff6004;
    font-size: 20;
    margin-bottom: 15;
}