.user-item {
    width: 20%;
}

.title-item {
    width: 40%;
}

.desc-item {
    width: 20%;
}

.date-item {
    width: 30%;
}

.money-item {
    width: 10%;
}

.catregory-item {
    width: 15%;
}

.date-value {
    color: var(--yellow);
    font-size: 17;
}

.date-selection {
    justify-content: space-between;
    align-items: center;
    margin-top: 10;
}