.buttons {
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.row-cell-data Label {
    border-bottom-width: 0;
    border-color: transparent;
}

.row-cell-data {
    border-bottom-width: 0.3;
    border-color: rgb(255, 255, 255);
}