.nt-drawer__content {
    background-color: #e3ffe8;
}

.nt-drawer__header {
    background-color: #fafffb;
    border-bottom-width: 0.3;
    border-bottom-color: #005807;
    margin-bottom: 10;
}

.item-list {
    font-family: "Montserrat", "Montserrat-Regular";
    text-transform: uppercase;
}

.nt-drawer__list-item .sub {
    margin-left: 10;
}

.nt-drawer__list-item {
    font-size: 15;
    color: #66615b;
    margin-bottom: 15;
}

.selected {
    font-weight: bold;
    color: #00681a;
    animation-name: select;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes select {
    from {
        background-color: #e3ffe8;
        // background-color: #e3f2ff;
    }
    to {
        background-color: #b3ffb9;
        // background-color: #b3dbff;
    }
}