.nt-drawer__content {
    background-color: #2b2b2b;
    border-right-width: 0.3;
    border-right-color: var(--yellow);
}

.nt-drawer__header {
    background: #2b2b2b;
    border-bottom-width: 0.3;
    border-bottom-color: #ffb204;
    margin-bottom: 10;
}

.item-list {
    font-family: "Montserrat", "Montserrat-Regular";
    text-transform: uppercase;
}

.nt-drawer__list-item {
    font-size: 15;
    color: var(--sidebar-item);
    margin-bottom: 15;
}

.active {
    font-weight: bold;
    color: var(--yellow);
}

.menu,
.logout {
    color: #ffb204;
}

ActionBar {
    background-color: #1f1f1f;
}

.flex-bar {
    /* flex-direction: column; */
    justify-content: space-between;
    /* align-items: stretch; */
    border-width: 1;
    border-color: red;
}

// .inactive {
//     font-size: 15;
//     color: var(--sidebar-item);
//     margin-bottom: 15;
//     margin-left: 10;
// }