.nt-drawer__content {
    background-color: #e3ffe8;
}

.nt-drawer__header {
    background: linear-gradient(to bottom, #005807, #499776);
    border-bottom-width: 0.3;
    border-bottom-color: #ffffff;
    margin-bottom: 10;
}

.nt-drawer__list-item.selected {
    color: red;
}

.item-list {
    font-family: "Montserrat", "Montserrat-Regular";
    text-transform: uppercase;
}

.nt-drawer__list-item .sub {
    margin-left: 10;
}

.nt-drawer__list-item {
    font-size: 15;
    color: #66615b;
    margin-bottom: 15;
}

.selected {
    font-weight: bold;
    color: #00681a;
    background-color: #c2ffcd;
    border-bottom-width: 0.3;
    border-top-width: 0.3;
    border-top-color: #00681a;
    border-bottom-color: #00681a;
}