.user-item {
    width: 20%;
}

.title-item {
    width: 30%;
}

.desc-item {
    width: 20%;
}

.date-item {
    width: 25%;
}

.money-item {
    width: 5%;
}

.catregory-item {
    width: 15%;
}

.double-cards {
    width: 94%;
}

.double-cards .card-stats {
    margin: 10;
}

.user-icon {
    height: 35;
    width: 35;
    background-color: #1b1b1b;
    justify-content: center;
    align-items: center;
    border-radius: 5;
    color: var(--yellow);
    border-width: 0.5;
    border-color: var(--yellow);
}

.members {
    padding-top: 5;
    padding-bottom: 5;
}

ChartAxisLabel {
    color: var(--yellow);
    margin: 12;
}

.users {
    color: var(--yellow);
    font-size: 15;
    margin-left: 5;
}

.user-flex {
    margin-bottom: 3;
}

.user-label {
    height: auto;
    width: 20;
    border-color: var(--yellow);
    border-width: 1;
}

.underline {
    border-bottom-width: 0.3;
    border-color: var(--yellow);
    margin-right: 10;
    margin-left: 10;
    padding-bottom: 15;
}