<ns-action-bar></ns-action-bar>
<ScrollView>
    <GridLayout columns="*" rows="1200" [visibility]="!isLoading ? 'visible' : 'collapse'">
        <StackLayout row="0" col="0">
            <StackLayout class="members">
                <Label text="Team members"></Label>
                <StackLayout *ngFor="let user of walletMembers">
                    <Label [text]="user.username"></Label>
                    <Button text="User" (tap)="getUserStatistics(user.id)"></Button>
                </StackLayout>
            </StackLayout>
            <StackLayout class="most-used-category">
                <Label text="Most used category"></Label>
                <Label [text]="mostUsedCategory"></Label>
            </StackLayout>
            <StackLayout class="most-spent-category">
                <Label text="Most spent category"></Label>
                <Label [text]="mostSpentCategory"></Label>
            </StackLayout>
            <StackLayout class="avg">
                <Label text="Average daily"></Label>
                <Label [text]="avgDailyExpenses"></Label>
            </StackLayout>
            <StackLayout class="total">
                <Label text="Total money spent"></Label>
                <Label [text]="amountOfMoneySpent"></Label>
            </StackLayout>
            <StackLayout *ngIf="topFiveUsers.length >= 2" class="top-users">
                <Label text="Top 5 users"></Label>
                <GridLayout rows="*">
                    <RadPieChart allowAnimation="true" row="0">
                        <PieSeries showLabels="true" tkPieSeries selectionMode="DataPoint" expandRadius="0.4" outerRadiusFactor="0.7" [items]="topFiveUsers" valueProperty="Amount" legendLabel="userName"></PieSeries>
                        <RadLegendView tkPieLegend position="Right" title="Users" offsetOrigin="TopRight" width="110" enableSelection="true">
                        </RadLegendView>
                    </RadPieChart>
                </GridLayout>
            </StackLayout>
            <StackLayout>
                <GridLayout height="300" rows="*">
                    <RadCartesianChart row="0" style="font-size: 12;">
                        <CategoricalAxis tkCartesianVerticalAxis></CategoricalAxis>
                        <LinearAxis tkCartesianHorizontalAxis></LinearAxis>
                        <BarSeries showLabels="true" fillColor="green" tkCartesianSeries [items]="barExpenses" categoryProperty="Category" valueProperty="Amount">
                            <PointLabelStyle textSize="15" textColor="black"></PointLabelStyle>
                        </BarSeries>
                    </RadCartesianChart>
                </GridLayout>
                <GridLayout height="300" rows="*">
                    <RadCartesianChart row="0" style="font-size: 12;">
                        <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
                        <LinearAxis tkCartesianVerticalAxis></LinearAxis>
                        <LineSeries tkCartesianSeries [items]="lastSixMonths" categoryProperty="month" valueProperty="expenseSum">
                        </LineSeries>
                    </RadCartesianChart>
                </GridLayout>
                <GridLayout [visibility]="hasPreviousMonths ? 'visible' : 'collapse'" height="300" rows="*">
                    <RadCartesianChart row="0" style="font-size: 12;">
                        <CategoricalAxis tkCartesianVerticalAxis></CategoricalAxis>
                        <LinearAxis tkCartesianHorizontalAxis></LinearAxis>
                        <BarSeries fillColor="green" tkCartesianSeries [items]="currentMonthDataToCompare" categoryProperty="Category" valueProperty="Amount">
                            <PointLabelStyle textSize="15" textColor="black"></PointLabelStyle>
                        </BarSeries>
                        <BarSeries fillColor="red" tkCartesianSeries [items]="lastMonthDataToCompare" categoryProperty="Category" valueProperty="Amount">
                            <PointLabelStyle textSize="15" textColor="black"></PointLabelStyle>
                        </BarSeries>
                    </RadCartesianChart>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</ScrollView>