.members {
    margin: 5;
    border-width: 1;
    border-color: red;
}

PointLabelStyle {
    margin: 10;
    font-weight: bold;
    background-color: #60B3FC;
    font-size: 10;
    color: white;
}

// BarSeries {
//     fill-color: #C8A1FF;
//     stroke-color: white;
//     stroke-width: 4;
// }