<ns-action-bar></ns-action-bar>
<ScrollView>
    <StackLayout class="background" height="auto" [visibility]="!isLoading ? 'visible' : 'collapse'">
        <StackLayout class="card-stats" androidElevation="15" ios:shadowRadius="3">
            <StackLayout class="card-body">
                <StackLayout class="card-chart-text">
                    <StackLayout class="card-title">
                        <Label text="Wallet Members"></Label>
                    </StackLayout>
                </StackLayout>
                <GridLayout columns="1*, 7*, 1*, 1*" rows="auto" *ngFor="let member of walletMembers" class="members">
                    <Label col="1" fontSize="18" [text]="member.username" class="text-capitalize"></Label>
                    <Label col="2" (tap)="getUserStatistics(member.id)" text="&#xf007;" fontSize="18" class="fas user-icon"></Label>
                </GridLayout>
            </StackLayout>
            <FlexboxLayout class="card-footer">
            </FlexboxLayout>
        </StackLayout>
        <StackLayout class="card-stats" androidElevation="15" ios:shadowRadius="3">
            <StackLayout class="card-body">
                <GridLayout columns="3*, 7*" rows="auto" class="card-row">
                    <StackLayout col="0" row="0" class="card-icon">
                        <Label class="far icon-text" color="#28a745" text="&#xf080;"></Label>
                    </StackLayout>
                    <StackLayout col="1" row="0" class="card-text">
                        <StackLayout class="card-title">
                            <Label textWarp="true" text="Most Used Category"></Label>
                        </StackLayout>
                        <StackLayout class="card-desc">
                            <Label [text]="mostUsedCategory"></Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
            <FlexboxLayout class="card-footer">
                <Label class="fas footer-icon" text="&#xf885;"></Label>
                <Label class="footer-text" text="Number of expenses"></Label>
            </FlexboxLayout>
        </StackLayout>
        <StackLayout class="card-stats" androidElevation="15" ios:shadowRadius="3">
            <StackLayout class="card-body">
                <GridLayout columns="3*, 7*" rows="auto" class="card-row">
                    <StackLayout col="0" row="0" class="card-icon">
                        <Label class="fas icon-text" color="#6c757d" text="&#xf161;"></Label>
                    </StackLayout>
                    <StackLayout col="1" row="0" class="card-text">
                        <StackLayout class="card-title">
                            <Label textWarp="true" text="Most Spent Category"></Label>
                        </StackLayout>
                        <StackLayout class="card-desc">
                            <Label [text]="mostSpentCategory"></Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
            <FlexboxLayout class="card-footer">
                <Label class="fas footer-icon" text="&#xf885;"></Label>
                <Label class="footer-text" text="Category with the largest expenses"></Label>
            </FlexboxLayout>
        </StackLayout>
        <StackLayout class="card-stats" androidElevation="15" ios:shadowRadius="3">
            <StackLayout class="card-body">
                <GridLayout columns="3*, 7*" rows="auto" class="card-row">
                    <StackLayout col="0" row="0" class="card-icon">
                        <Label class="fas icon-text" color="#ffc107" text="&#xf51e;"></Label>
                    </StackLayout>
                    <StackLayout col="1" row="0" class="card-text">
                        <StackLayout class="card-title">
                            <Label fontSize="17" textWarp="true" text="Average Daily Expenses"></Label>
                        </StackLayout>
                        <StackLayout class="card-desc">
                            <Label [text]="avgDailyExpenses"></Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
            <FlexboxLayout class="card-footer">
                <Label class="fas footer-icon" text="&#xf885;"></Label>
                <Label class="footer-text" text="Average per 1 day"></Label>
            </FlexboxLayout>
        </StackLayout>
        <StackLayout class="card-stats" androidElevation="15" ios:shadowRadius="3">
            <StackLayout class="card-body">
                <GridLayout columns="3*, 7*" rows="auto" class="card-row">
                    <StackLayout col="0" row="0" class="card-icon">
                        <Label class="fas icon-text" color="#007bff" text="&#xf688;"></Label>
                    </StackLayout>
                    <StackLayout col="1" row="0" class="card-text">
                        <StackLayout class="card-title">
                            <Label text="Total Spent"></Label>
                        </StackLayout>
                        <StackLayout class="card-desc">
                            <Label [text]="amountOfMoneySpent"></Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
            <FlexboxLayout class="card-footer">
                <Label class="fas footer-icon" text="&#xf885;"></Label>
                <Label class="footer-text" text="Total sum"></Label>
            </FlexboxLayout>
        </StackLayout>

        <StackLayout *ngIf="topFiveUsers.length >= 2" class="card-stats" androidElevation="15" ios:shadowRadius="3">
            <StackLayout class="card-body">
                <StackLayout class="card-chart-text">
                    <StackLayout class="card-title">
                        <Label text="Top 5 Users"></Label>
                    </StackLayout>
                    <StackLayout class="card-desc">
                        <Label text="Users with most Expenses"></Label>
                    </StackLayout>
                </StackLayout>
                <StackLayout class="card-chart">
                    <GridLayout height="300" rows="*">
                        <RadPieChart allowAnimation="true" row="0">
                            <DonutSeries seriesName="Pie" showLabels="true" tkPieSeries selectionMode="Notset" expandRadius="0.4" innerRadiusFactor="0.7" outerRadiusFactor="0.7" [items]="topFiveUsers" valueProperty="Amount" legendLabel="userName"></DonutSeries>
                            <RadLegendView tkPieLegend position="floating" title="Users" width="110" enableSelection="true">
                            </RadLegendView>
                            <Palette tkPiePalette seriesName="Pie">
                                <PaletteEntry tkPiePaletteEntry fillColor="#aaf0d1" strokeWidth="0.5" strokeColor="black"></PaletteEntry>
                                <PaletteEntry tkPiePaletteEntry fillColor="#f0b4aa" strokeWidth="0.5" strokeColor="black"></PaletteEntry>
                                <PaletteEntry tkPiePaletteEntry fillColor="#f0d6aa" strokeWidth="0.5" strokeColor="black"></PaletteEntry>
                                <PaletteEntry tkPiePaletteEntry fillColor="#beaaf0" strokeWidth="0.5" strokeColor="black"></PaletteEntry>
                                <PaletteEntry tkPiePaletteEntry fillColor="#aacaf0" strokeWidth="0.5" strokeColor="black"></PaletteEntry>
                            </Palette>
                        </RadPieChart>
                    </GridLayout>
                </StackLayout>
            </StackLayout>
            <FlexboxLayout class="card-footer">
                <Label class="fas footer-icon" text="&#xf885;"></Label>
                <Label class="footer-text" text="Number of expenses"></Label>
            </FlexboxLayout>
        </StackLayout>

        <StackLayout class="card-stats" androidElevation="15" ios:shadowRadius="3">
            <StackLayout class="card-body">
                <StackLayout class="card-chart-text">
                    <StackLayout class="card-title">
                        <Label text="Categories"></Label>
                    </StackLayout>
                    <StackLayout class="card-desc">
                        <Label text="Expenses for each Category"></Label>
                    </StackLayout>
                </StackLayout>
                <StackLayout class="card-chart">
                    <GridLayout height="300" rows="*">
                        <RadCartesianChart row="0" style="font-size: 12;">
                            <CategoricalAxis tkCartesianVerticalAxis></CategoricalAxis>
                            <LinearAxis tkCartesianHorizontalAxis></LinearAxis>
                            <BarSeries showLabels="true" fillColor="#aaf0d1" tkCartesianSeries [items]="barExpenses" categoryProperty="Category" valueProperty="Amount">
                                <PointLabelStyle tkBarLabelStyle fillColor="#58ecaa"></PointLabelStyle>
                            </BarSeries>
                        </RadCartesianChart>
                    </GridLayout>
                </StackLayout>
            </StackLayout>
            <FlexboxLayout class="card-footer">
                <Label class="fas footer-icon" text="&#xf885;"></Label>
                <Label class="footer-text" text="Number of expenses"></Label>
            </FlexboxLayout>
        </StackLayout>

        <StackLayout class="card-stats" androidElevation="15" ios:shadowRadius="3">
            <StackLayout class="card-body">
                <StackLayout class="card-chart-text">
                    <StackLayout class="card-title">
                        <Label text="Last 6 months"></Label>
                    </StackLayout>
                    <StackLayout class="card-desc">
                        <Label text="Overall progress"></Label>
                    </StackLayout>
                </StackLayout>
                <StackLayout class="card-chart">
                    <GridLayout height="300" rows="*">
                        <RadCartesianChart row="0" style="font-size: 12;">
                            <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
                            <LinearAxis tkCartesianVerticalAxis></LinearAxis>
                            <LineSeries tkCartesianSeries strokeColor="#58ecaa" [items]="lastSixMonths" categoryProperty="month" valueProperty="expenseSum">
                            </LineSeries>
                        </RadCartesianChart>
                    </GridLayout>
                </StackLayout>
            </StackLayout>
            <FlexboxLayout class="card-footer">
                <Label class="fas footer-icon" text="&#xf885;"></Label>
                <Label class="footer-text" text="Number of expenses"></Label>
            </FlexboxLayout>
        </StackLayout>

        <StackLayout [visibility]="hasPreviousMonths ? 'visible' : 'collapse'" class="card-stats" androidElevation="15" ios:shadowRadius="3">
            <StackLayout class="card-body">
                <StackLayout class="card-chart-text">
                    <StackLayout class="card-title">
                        <Label text="Expenses Comparison"></Label>
                    </StackLayout>
                    <StackLayout class="card-desc">
                        <Label text="Previous and Current Months"></Label>
                    </StackLayout>
                </StackLayout>
                <StackLayout class="card-chart">
                    <GridLayout height="300" rows="*">
                        <RadCartesianChart row="0" style="font-size: 12;">
                            <CategoricalAxis tkCartesianVerticalAxis></CategoricalAxis>
                            <LinearAxis tkCartesianHorizontalAxis></LinearAxis>
                            <BarSeries strokeWidth="0.5" strokeColor="black" fillColor="#aaf0d1" tkCartesianSeries [items]="currentMonthDataToCompare" categoryProperty="Category" valueProperty="Amount">
                                <PointLabelStyle tkBarLabelStyle fillColor="#f0b4aa"></PointLabelStyle>
                            </BarSeries>
                            <BarSeries strokeWidth="0.5" strokeColor="black" fillColor="red" tkCartesianSeries [items]="lastMonthDataToCompare" categoryProperty="Category" valueProperty="Amount">
                                <PointLabelStyle tkBarLabelStyle fillColor="#f58b75"></PointLabelStyle>
                            </BarSeries>
                        </RadCartesianChart>
                    </GridLayout>
                </StackLayout>
            </StackLayout>
            <FlexboxLayout class="card-footer">
                <Label class="fas footer-icon" text="&#xf885;"></Label>
                <Label class="footer-text" text="Number of expenses"></Label>
            </FlexboxLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>