.card-stats {
    margin-top: 20;
    border-radius: 8;
    width: 90%;
    background-color: white;
    font-family: "Montserrat", "Montserrat-Regular";
}

.card-body {
    margin: 10;
}

.card-icon {
    text-align: center;
}

.icon-text {
    font-size: 40;
    margin-top: 10;
}

.card-text {
    text-align: right;
    margin-right: 20;
}

.card-title {
    font-size: 20;
    color: #9a9a9a;
}

.card-desc {
    font-size: 23;
    color: black;
}

.card-footer {
    //background-color: black;
    padding-top: 10;
    padding-bottom: 10;
    margin-left: 15;
    margin-right: 15;
    margin-bottom: 5;
    border-top-width: 0.3;
    border-color: #9a9a9a;
}

.footer-text {
    margin-left: 10;
    font-size: 17;
}

.footer-icon {
    font-size: 17;
}