.card-stats {
    margin-top: 20;
    border-radius: 8;
    width: 90%;
    background-color: white;
    font-family: "Montserrat", "Montserrat-Regular";
}

.card-body {
    margin: 10;
}

.card-icon {
    text-align: center;
}

.icon-text {
    font-size: 40;
    margin-top: 10;
}

.card-text {
    text-align: right;
    margin-right: 20;
}

.card-chart-text {
    text-align: left;
    margin-right: 20;
}

.card-title {
    font-size: 20;
    color: #9a9a9a;
}

.card-desc {
    font-size: 23;
    color: black;
}

.card-footer {
    //background-color: black;
    padding-top: 10;
    padding-bottom: 10;
    margin-left: 15;
    margin-right: 15;
    margin-bottom: 5;
    border-top-width: 0.3;
    border-color: #9a9a9a;
}

.footer-text {
    margin-left: 10;
    font-size: 17;
}

.footer-icon {
    font-size: 17;
}

.row-cell-desc Label {
    font-size: 15;
    color: rgba(0, 0, 0, 0.54);
}

.row-cell-data Label,
.row-cell-desc Label {
    border-bottom-width: 0.3;
    border-color: rgba(0, 0, 0, 0.12);
    padding-bottom: 5;
    padding-top: 5;
}

// .row-cell-data,
// .row-cell-desc {
//     align-items: center;
// }
.user-item {
    width: 20%;
}

.title-item {
    width: 30%;
}

.desc-item {
    width: 20%;
}

.date-item {
    width: 25%;
}

.money-item {
    width: 5%;
}

.catregory-item {
    width: 15%;
}

.double-cards {
    width: 94%;
}

.double-cards .card-stats {
    margin: 10;
}

.user-icon {
    padding: 8;
    padding-right: 9;
    background-color: white;
    text-align: center;
    border-radius: 5;
    color: #28a745;
    border-width: 1;
    border-color: #28a745;
}

.members {
    // justify-content: space-evenly;
    padding-top: 5;
    padding-bottom: 5;
}

Label {
    text-align: center;
}

.ex1,
.ex2 {
    background-color: white;
}

.ex3,
.ex4 {
    color: white;
}

.ex3 {
    background-color: #006968;
    border-radius: 15;
}

.ex4 {
    background-color: #ff1744;
    border-radius: 50%;
    width: 80;
    height: 80;
}

.loader-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
}

.loader {
    width: 20;
    height: 20;
    font-size: 10;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    animation: animate 3s linear infinite;
}

.loader .face:nth-child(1) {
    width: 100%;
    height: 100%;
    color: red;
    border-color: yellow;
    border-width: 1;
    --deg: -45deg;
    animation-direction: normal;
}

.loader .face:nth-child(2) {
    width: 70%;
    height: 70%;
    color: green;
    border-color: blue;
    border-width: 1;
    --deg: -135deg;
    animation-direction: reverse;
}

.loader .face .circle {
    position: absolute;
    width: 50%;
    height: 10;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: rotate(var(--deg));
    transform-origin: left;
}

.loader .face .circle::before {
    position: absolute;
    top: -10;
    right: -10;
    content: '';
    width: 5;
    height: 5;
    background-color: currentColor;
    border-radius: 50%;
}

@keyframes animate {
    to {
        transform: rotate(1turn);
    }
}