.card-stats {
    margin-top: 20;
    border-radius: 8;
    width: 90%;
    background-color: var(--card-background);
    font-family: "Montserrat", "Montserrat-Regular";
}

.card-body {
    margin: 10;
}

.card-icon {
    text-align: center;
}

.icon-text {
    font-size: 40;
    margin-top: 10;
}

.card-text {
    text-align: right;
    margin-right: 20;
}

.card-chart-text {
    text-align: left;
    /* margin-right: 20; */
}

.card-title {
    font-size: 20;
    color: var(--yellow);
    font-weight: bold;
}

.card-desc {
    font-size: 23;
    color: var(--yellow);
}

.card-footer {
    padding-top: 10;
    padding-bottom: 10;
    margin-left: 15;
    margin-right: 15;
    margin-bottom: 5;
    border-top-width: 0.3;
    border-color: #9a9a9a;
}

.footer-text {
    margin-left: 10;
}

.footer-icon,
.footer-text {
    font-size: 17;
    color: var(--yellow);
    font-weight: bold;
}

.row-cell-desc Label {
    font-size: 15;
    color: var(--yellow);
    font-weight: bold;
}

.row-cell-data Label,
.row-cell-desc Label {
    border-bottom-width: 0.3;
    border-color: rgb(255, 255, 255);
    padding-bottom: 5;
    padding-top: 5;
}

.row-cell-data Label {
    color: white;
}


/* cards for visual data */

.card-chart {
    margin-top: 20;
    /* border-radius: 8; */
    /* width: 90%; */
    /* background-color: var(--card-visual-data); */
    border-width: 0.3;
    border-top-color: var(--yellow);
    border-bottom-color: var(--yellow);
    font-family: "Montserrat", "Montserrat-Regular";
}