ChartAxisLabel {
    color: var(--yellow);
    margin: 12;
}

.users {
    color: var(--yellow);
    font-size: 15;
    margin-left: 5;
}

.user-flex {
    margin-bottom: 3;
}

.user-label {
    height: auto;
    width: 20;
    border-color: var(--yellow);
    border-width: 1;
}

.underline Label {
    margin-left: 10;
}