<ns-action-bar [pageTitle]="chosenCategoryName + ' Statistics'"></ns-action-bar>
<ScrollView>
    <StackLayout class="background">
        <StackLayout [visibility]="!isLoading && spentThisMonth > 0 ? 'visible' : 'collapse'">
            <StackLayout class="card-stats anim-delay" shadow="25">
                <StackLayout class="card-body">
                    <GridLayout columns="3*, 7*" rows="auto" class="card-row">
                        <StackLayout col="0" row="0" class="card-icon">
                            <Label class="far icon-text" color="#972600" text="&#xf007;"></Label>
                        </StackLayout>
                        <StackLayout col="1" row="0" class="card-text">
                            <StackLayout class="card-title">
                                <Label textWarp="true" color="#972600" text="Most used user"></Label>
                            </StackLayout>
                            <StackLayout class="card-description">
                                <Label [text]="mostUsedUser.userName"></Label>
                            </StackLayout>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
                <FlexboxLayout class="card-footer">
                    <Label class="fas footer-icon" color="#007bff" text="&#xf887;"></Label>
                    <Label class="footer-text" text="Number of expenses"></Label>
                </FlexboxLayout>
            </StackLayout>
            <StackLayout class="card-stats anim-delay-second" shadow="25">
                <StackLayout class="card-body">
                    <GridLayout columns="3*, 7*" rows="auto" class="card-row">
                        <StackLayout col="0" row="0" class="card-icon">
                            <Label class="fas icon-text" color="#28a745" text="&#xf007;"></Label>
                        </StackLayout>
                        <StackLayout col="1" row="0" class="card-text">
                            <StackLayout class="card-title">
                                <Label textWarp="true" color="#28a745" text="Most Spent User"></Label>
                            </StackLayout>
                            <StackLayout class="card-description">
                                <Label [text]="mostSpentUser.userName"></Label>
                            </StackLayout>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
                <FlexboxLayout class="card-footer">
                    <Label class="fas footer-icon" color="#28a745" text="&#xf885;"></Label>
                    <Label class="footer-text" text="Sum of expenses"></Label>
                </FlexboxLayout>
            </StackLayout>
            <StackLayout class="card-stats anim-delay-third" shadow="25">
                <StackLayout class="card-body">
                    <GridLayout columns="3*, 7*" rows="auto" class="card-row">
                        <StackLayout col="0" row="0" class="card-icon">
                            <Label class="fas icon-text" color="#ffc107" text="&#xf51e;"></Label>
                        </StackLayout>
                        <StackLayout col="1" row="0" class="card-text">
                            <StackLayout class="card-title">
                                <Label textWarp="true" color="#a38721" text="Largest expense"></Label>
                            </StackLayout>
                            <StackLayout class="card-description">
                                <Label [text]="largestExpense"></Label>
                            </StackLayout>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
                <FlexboxLayout class="card-footer">
                    <Label class="fas footer-icon" text="&#xf885;"></Label>
                    <Label class="footer-text" text="Ever!"></Label>
                </FlexboxLayout>
            </StackLayout>
            <StackLayout class="card-stats anim-delay-fourth" shadow="25">
                <StackLayout class="card-body">
                    <GridLayout columns="3*, 7*" rows="auto" class="card-row">
                        <StackLayout col="0" row="0" class="card-icon">
                            <Label class="fas icon-text" color="#6c757d" text="&#xf161;"></Label>
                        </StackLayout>
                        <StackLayout col="1" row="0" class="card-text">
                            <StackLayout class="card-title">
                                <Label textWarp="true" color="#6c757d" text="Largest expense"></Label>
                            </StackLayout>
                            <StackLayout class="card-description">
                                <Label [text]="currentMonthLargestExpense"></Label>
                            </StackLayout>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
                <FlexboxLayout class="card-footer">
                    <Label class="fas footer-icon" text="&#xf885;"></Label>
                    <Label class="footer-text" text="This month"></Label>
                </FlexboxLayout>
            </StackLayout>
            <StackLayout *ngIf="expenses !== null" class="card-stats" shadow="25">
                <StackLayout class="card-body">
                    <StackLayout class="card-chart-text">
                        <StackLayout class="card-title">
                            <Label color="black" text="Your Expenses"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout class="card-table">
                        <GridLayout columns="2*, 2*, 3*, 2*, 1*" rows="auto" class="row-cell-desc text-center">
                            <Label col="0" text="Title"></Label>
                            <Label col="1" text="User"></Label>
                            <Label col="2" text="Details"></Label>
                            <Label col="3" text="Date"></Label>
                            <Label col="4" text="$"></Label>
                        </GridLayout>
                        <GridLayout columns="2*, 2*, 3*, 2*, 1*" rows="auto" class="row-cell-data text-center" *ngFor="let expense of expenses">
                            <Label col="0" [text]="expense.expenseTitle" textWrap="true"></Label>
                            <Label col="1" [text]="expense.userName" textWrap="true"></Label>
                            <Label col="2" [text]="expense.expenseDescription" textWrap="true"></Label>
                            <Label col="3" [text]="expense.creationDate | date :'short'" textWrap="true"></Label>
                            <Label col="4" [text]="expense.moneySpent" textWrap="true"></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>

            <!-- <StackLayout [visibility]="topFiveUsers!== null && topFiveUsers.length > 1  ? 'visible' : 'collapse'" class="card-stats" shadow="25">
                <StackLayout class="card-body">
                    <StackLayout class="card-chart-text">
                        <StackLayout class="card-title">
                            <Label text="Top 5 Users"></Label>
                        </StackLayout>
                        <StackLayout class="card-description">
                            <Label text="Users with most Expenses"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout class="card-chart">
                        <GridLayout height="500" rows="*">
                            <RadPieChart allowAnimation="true" row="0">
                                <DonutSeries seriesName="Pie" showLabels="true" tkPieSeries selectionMode="Notset" expandRadius="0.4" innerRadiusFactor="0.7" outerRadiusFactor="0.7" [items]="topFiveUsers" valueProperty="sum" legendLabel="userName"></DonutSeries>
                                <RadLegendView tkPieLegend position="floating" title="Users" width="110" enableSelection="true">
                                </RadLegendView>
                                <Palette tkPiePalette seriesName="Pie">
                                    <PaletteEntry tkPiePaletteEntry fillColor="#aaf0d1" strokeWidth="0.5" strokeColor="black"></PaletteEntry>
                                    <PaletteEntry tkPiePaletteEntry fillColor="#f0b4aa" strokeWidth="0.5" strokeColor="black"></PaletteEntry>
                                    <PaletteEntry tkPiePaletteEntry fillColor="#f0d6aa" strokeWidth="0.5" strokeColor="black"></PaletteEntry>
                                    <PaletteEntry tkPiePaletteEntry fillColor="#beaaf0" strokeWidth="0.5" strokeColor="black"></PaletteEntry>
                                    <PaletteEntry tkPiePaletteEntry fillColor="#aacaf0" strokeWidth="0.5" strokeColor="black"></PaletteEntry>
                                </Palette>
                            </RadPieChart>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
                <FlexboxLayout class="card-footer">
                    <Label class="fas footer-icon" text="&#xf885;"></Label>
                    <Label class="footer-text" text="Number of expenses"></Label>
                </FlexboxLayout>
            </StackLayout> -->

            <StackLayout *ngIf="topFiveUsers.length > 1" class="card-chart m-b-20">
                <GridLayout height="500" rows="auto, auto, *">
                    <StackLayout class="outer-flex underline" row="0">
                        <Label class="card-title" text="Wallet Users Expenses"></Label>
                        <Label class="card-description" text="With Most Expenses"></Label>
                    </StackLayout>
                    <StackLayout row="1" class="m-l-10">
                        <FlexboxLayout class="user-flex" *ngFor="let user of topFiveUsers; let i = index">
                            <Label class="user-label" [backgroundColor]="userColors[i]"></Label>
                            <Label [text]="user.userName" class="users"></Label>
                        </FlexboxLayout>
                        <Label class="title-label" text="Top Five Users"></Label>
                    </StackLayout>
                    <RadPieChart allowAnimation="true" row="2">
                        <DonutSeries seriesName="pieUsers" showLabels="true" tkPieSeries selectionMode="DataPoint" expandRadius="0.4" innerRadiusFactor="0.7" outerRadiusFactor="0.7" [items]="topFiveUsers" valueProperty="Amount" legendLabel="userName">
                            <PointLabelStyle tkDonutLabelStyle strokeColor="black" textColor="white"></PointLabelStyle>
                        </DonutSeries>
                        <Palette tkPiePalette seriesName="pieUsers">
                            <PaletteEntry tkPiePaletteEntry fillColor="#EAA219" strokeWidth="1" strokeColor="#EAA219"></PaletteEntry>
                            <PaletteEntry tkPiePaletteEntry fillColor="#D77D13" strokeWidth="1" strokeColor="#680A00"></PaletteEntry>
                            <PaletteEntry tkPiePaletteEntry fillColor="#C4590C" strokeWidth="1" strokeColor="#680A00"></PaletteEntry>
                            <PaletteEntry tkPiePaletteEntry fillColor="#B03406" strokeWidth="1" strokeColor="#680A00"></PaletteEntry>
                            <PaletteEntry tkPiePaletteEntry fillColor="#9D1000" strokeWidth="1" strokeColor="#680A00"></PaletteEntry>
                        </Palette>
                    </RadPieChart>
                </GridLayout>
            </StackLayout>

            <StackLayout *ngIf="topFiveUsers.length === 1" class="card-chart m-b-20">
                <StackLayout class="outer-flex underline" row="0">
                    <Label class="card-title" text="Wallet Users Expenses"></Label>
                    <Label class="card-description" text="With Most Expenses"></Label>
                </StackLayout>
                <StackLayout class="m-20 text-center">
                    <Label class="card-description" [text]="topFiveUsers[0].userName + ' has spent ' + topFiveUsers[0].Amount"></Label>
                    <Label class="card-description" textWrap="true" text="This user is the only one who has spent this month"></Label>
                </StackLayout>
            </StackLayout>
            <!-- [visibility]="lastSixMonths !== null ? 'visible' : 'collapse'" -->
            <StackLayout *ngIf="lastSixMonths !== null" class="card-chart anim-delay-fourth" shadow="25">
                <GridLayout height="600" rows="auto, *">
                    <StackLayout class="outer-flex underline" row="0">
                        <Label class="card-title" text="Last Six Months"></Label>
                        <Label class="card-description" text="Line Comparison"></Label>
                    </StackLayout>
                    <RadCartesianChart row="1">
                        <CategoricalAxis tkCartesianHorizontalAxis lineColor="#ffb204" ticksColor="#825B00" labelFitMode="Rotate"></CategoricalAxis>
                        <LinearAxis tkCartesianVerticalAxis lineColor="#ffb204" ticksColor="#825B00" labelFormat="%.0f"></LinearAxis>
                        <LineSeries tkCartesianSeries strokeColor="#ffb204" [items]="lastSixMonths" categoryProperty="month" valueProperty="expenseSum">
                        </LineSeries>
                    </RadCartesianChart>
                </GridLayout>
                <FlexboxLayout class="card-footer">
                    <Label class="fas footer-icon" text="&#xf885;"></Label>
                    <Label class="footer-text" text="Just text for testing"></Label>
                </FlexboxLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>