<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<!-- <page-router-outlet></page-router-outlet> -->
<RadSideDrawer>
    <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
        <StackLayout row="0" class="nt-drawer__header" backgroundColor="#2b2b2b">
            <Image class="nt-drawer__header-image fas t-36" src="res://xcoin"></Image>
            <Label class="nt-drawer__header-brand" color="white" text="Welcome"></Label>
            <Label class="nt-drawer__header-footnote text-capitalize" *ngIf="userName !== '' " [text]="userName"></Label>
        </StackLayout>
        <ScrollView row="1" class="nt-drawer__body" [visibility]="!showWalletItems ? 'visible' : 'collapse'">
            <GridLayout id="home" columns="auto, *" class="nt-drawer__list-item" (tap)="onItemTap('registration')">
                <Label col="0" text="&#xf015;" fontSize="20" class="nt-icon fas"></Label>
                <Label col="1" text="Registration" class="item-list "></Label>
            </GridLayout>
            <GridLayout id="home" columns="auto, *" class="nt-drawer__list-item" (tap)="onItemTap('about')">
                <Label col="0" text="&#xf015;" fontSize="20" class="nt-icon fas"></Label>
                <Label col="1" text="About" class="item-list "></Label>
            </GridLayout>
        </ScrollView>
        <ScrollView [visibility]="showWalletItems ? 'visible' : 'collapse'" row="1" class="nt-drawer__body">
            <StackLayout #stack>
                <GridLayout id="home" columns="auto, *" class="nt-drawer__list-item" (tap)="onItemTap('/wallet/home')">
                    <Label col="0" text="&#xf015;" fontSize="20" class="nt-icon fas"></Label>
                    <Label col="1" text="Home" class="item-list "></Label>
                </GridLayout>
                <GridLayout id="walletExpenses" columns="auto, *" class="nt-drawer__list-item" (tap)="onItemTap('/wallet/walletExpenses')">
                    <Label col="0" text="&#xf015;" fontSize="20" class="nt-icon fas"></Label>
                    <Label col="1" text="Wallet Expenses" class="item-list "></Label>
                </GridLayout>
                <GridLayout id="previousExpenses" columns="auto, *" class="nt-drawer__list-item" (tap)="onItemTap('/wallet/previousExpenses')">
                    <Label col="0" text="&#xf015;" fontSize="20" class="nt-icon fas"></Label>
                    <Label col="1" text="Previous Expenses" class="item-list "></Label>
                </GridLayout>
                <GridLayout id="walletStatistics" columns="auto, *" class="nt-drawer__list-item" (tap)="onItemTap('/wallet/walletStatistics')">
                    <Label col="0" text="&#xf080;" fontSize="20" class="nt-icon far"></Label>
                    <Label col="1" text="Wallet Statistics" class="item-list "></Label>
                </GridLayout>
                <GridLayout id="userStatistics" columns="auto, *" class="nt-drawer__list-item" (tap)="onItemTap('/wallet/userStatistics', '/wallet/userStatistics/' + id )">
                    <Label col="0" text="&#xf2bd;" fontSize="20" class="nt-icon far"></Label>
                    <Label col="1" text="User Statistics" class="item-list "></Label>
                </GridLayout>
                <GridLayout id="profile" columns="auto, *" class="nt-drawer__list-item" (tap)="onItemTap('/wallet/profile')">
                    <Label col="0" text="&#xf505;" fontSize="20" class="nt-icon fas"></Label>
                    <Label col="1" text="Profile" class="item-list "></Label>
                </GridLayout>
                <GridLayout id="walletAdmin" *ngIf="isAdmin" columns="auto, *" class="nt-drawer__list-item" (tap)="onItemTap('/wallet/walletAdmin')">
                    <Label col="0" text="&#xf505;" fontSize="20" class="nt-icon fas"></Label>
                    <Label col="1" text="Admin Panel" class="item-list "></Label>
                </GridLayout>
                <GridLayout *ngIf="isAdminDefined" columns="auto, *, *" class="nt-drawer__list-item" (tap)="showCategory = !showCategory">
                    <Label col="0" text="&#xf200;" fontSize="20" class="nt-icon fas"></Label>
                    <Label col="1" text="Category" class="item-list "></Label>
                </GridLayout>
                <StackLayout *ngIf="showCategory">
                    <GridLayout [id]="'categoryStatistics/' + category.id + '/' + category.title" marginLeft="15" *ngFor="let category of categoryTitles" columns="auto, *" class="nt-drawer__list-item sub" (tap)="onItemTap('/wallet/categoryStatistics','/wallet/categoryStatistics/' + category.id + '/' + category.title)">
                        <Label col="0" [text]="category.icon" fontSize="20" class="nt-icon fas"></Label>
                        <Label col="1" [text]="category.title" class="item-list "></Label>
                    </GridLayout>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <page-router-outlet tkMainContent>
    </page-router-outlet>
</RadSideDrawer>