<ns-action-bar pageTitle="Admin Page"></ns-action-bar>
<ScrollView>
    <StackLayout class="background">
        <StackLayout *ngIf="!isLoading">
            <StackLayout *ngIf="users !== null" class="card-stats anim-delay" shadow="25">
                <StackLayout class="card-body">
                    <StackLayout class="card-chart-text">
                        <StackLayout class="card-title text-center">
                            <Label text="Wallet Users"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout class="card-table">
                        <GridLayout columns="3*, 2*, 2*, 2*" rows="auto" class="row-cell-desc text-center">
                            <Label col="0" text="Username"></Label>
                            <Label col="1" text="Date"></Label>
                            <Label col="2" text="Roles"></Label>
                            <Label col="3" text="Actions"></Label>
                        </GridLayout>
                        <GridLayout columns="3*, 2*, 2*, 2*" rows="auto" class="row-cell-data text-center" *ngFor="let user of users; let i = index">
                            <Label col="0" [text]="user.username" textWrap="true"></Label>
                            <Label col="1" [text]="user.dateJoined | date :'short'" textWrap="true"></Label>
                            <Label col="2" [text]="user.userRoles" textWrap="true"></Label>
                            <Label col="3" (tap)="removeUser(user.id, user.username)" class="fa del-user" text="&#xf235;"></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
            <StackLayout *ngIf="true" class="anim-delay-second">
                <Button text="Add new user" (tap)="addNewUser()" class="yellow-button"></Button>
                <ns-check-request (onUserAdd)="addUserFromRequest($event)"></ns-check-request>
            </StackLayout>
            <StackLayout *ngIf="expenses !== null" class="card-stats anim" shadow="25">
                <StackLayout class="card-body">
                    <StackLayout class="card-chart-text">
                        <StackLayout class="card-title">
                            <Label text="Your Expenses"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout class="card-table">
                        <FlexboxLayout class="row-cell-desc text-center">
                            <Label class="title-item" text="Title"></Label>
                            <Label class="category-item" text="Category"></Label>
                            <Label class="user-item" text="User"></Label>
                            <Label class="date-item" text="Date"></Label>
                            <Label class="money-item" text="$"></Label>
                        </FlexboxLayout>
                        <FlexboxLayout (tap)="onExpenseTap(expense, i)" class="row-cell-data text-center" *ngFor="let expense of expenses; let i = index;">
                            <Label class="title-item" [text]="expense.expenseTitle" textWrap="true"></Label>
                            <Label class="category-item" [text]="expense.userName" textWrap="true"></Label>
                            <Label class="user-item" [text]="expense.userName" textWrap="true"></Label>
                            <Label class="date-item" [text]="expense.creationDate | date :'short'" textWrap="true"></Label>
                            <Label class="money-item" [text]="expense.moneySpent" textWrap="true"></Label>
                        </FlexboxLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>
        <FlexboxLayout [visibility]="isLoading ? 'visible' : 'collapse'" class="spinner">
            <ActivityIndicator class="spinner-loader" [busy]="isLoading" color="#ffb204" width="100" height="100"></ActivityIndicator>
        </FlexboxLayout>
    </StackLayout>
</ScrollView>