<ScrollView>


    <StackLayout>
        <StackLayout *ngIf="expenses !== null">
            <FlexboxLayout class="row-cell">
                <Label class="first-item" text="Title"></Label>
                <Label class="first-item" text="Category"></Label>
                <Label class="third-item" text="User"></Label>
                <Label class="fourth-item" text="Date"></Label>
                <Label class="fifth-item" text="$"></Label>
            </FlexboxLayout>
            <FlexboxLayout class="row-cell" *ngFor="let expense of expenses">
                <Label class="first-item" [text]="expense.expenseTitle" textWrap="true"></Label>
                <Label class="second-item" [text]="expense.category" textWrap="true"></Label>
                <Label class="third-item" [text]="expense.userName" textWrap="true"></Label>
                <Label class="fourth-item" [text]="expense.creationDate | date :'short'" textWrap="true"></Label>
                <Label class="fifth-item" [text]="expense.moneySpent" textWrap="true"></Label>
            </FlexboxLayout>
        </StackLayout>
        <StackLayout *ngIf="users !== null">
            <FlexboxLayout class="row-cell">
                <Label class="first-item" text="Username"></Label>
                <Label class="third-item" text="Date"></Label>
                <Label class="fourth-item" text="Roles"></Label>
            </FlexboxLayout>
            <FlexboxLayout class="row-cell" *ngFor="let user of users">
                <Label class="first-item" [text]="user.username" textWrap="true"></Label>
                <Label class="third-item" [text]="user.dateJoined | date :'short'" textWrap="true"></Label>
                <Label class="fourth-item" [text]="user.userRoles" textWrap="true"></Label>
            </FlexboxLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>