<ScrollView>
    <StackLayout class="background p-t-20">
        <StackLayout class="card-stats" *ngIf="invites.length > 0">
            <FlexboxLayout class="card-title">
                <Label class="from" text="From"></Label>
                <Label class="title" textWrap="true" text="Wallet Title"></Label>
                <Label class="date" text="Date"></Label>
                <Label class="actions" text="Actions"></Label>
            </FlexboxLayout>
            <FlexboxLayout class="card-items" *ngFor="let invite of invites">
                <Label class="from" [text]="invite.inviteCreatorEmail" textWrap="true"></Label>
                <Label class="title" [text]="invite.walletTitle" textWrap="true"></Label>
                <Label class="date" [text]="invite.inviteCreationTime | date: 'short'" textWrap="true"></Label>
                <FlexboxLayout class="actions">
                    <Button text="Accept" (tap)="acceptInvite(invite.walletId)" class="btn btn-primary c-white c-bg-forest"></Button>
                    <Button text="Decline" (tap)="declineInvite(invite.walletId)" class="btn btn-primary c-white c-bg-error"></Button>
                </FlexboxLayout>
            </FlexboxLayout>
        </StackLayout>
        <StackLayout *ngIf="invites.length === 0">
            <Label class="card-stats card-title text-center" text="You have no invites"></Label>
        </StackLayout>
        <Button *ngIf="true" class="alert-button" text="Back" (tap)="back()"></Button>
    </StackLayout>
</ScrollView>