/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the 
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/

@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/default.css";
@import url('./app/css/cards.css');

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */


/*
The following CSS rule changes the font size of all Buttons that have the
"-primary" class modifier.
*/

.ns-root {
    --yellow: #ffb204;
    --card-description: #e4d8c9;
    --card-background: #2c2c2c;
    /* #2c2c2c; */
    /*#273442;*/
    --sidebar-item: #e4d8c9;
    --card-visual-data: #2c2c2c;
}

Button.-primary {
    font-size: 18;
}

.background {
    /* background: linear-gradient(to bottom, #c7f0de, #c9e8f1); */
    background-color: #424242;
    border-top-width: 1;
    border-bottom-width: 1;
    border-color: var(--yellow);
}

.spinner {
    justify-content: center;
    align-items: center;
    margin-top: 200;
}

.yellow-button {
    border-radius: 10;
    border-color: var(--yellow);
    border-width: 0.7;
    background-color: #303030;
    color: var(--yellow);
    font-size: 20;
}

.button-anim {
    animation-name: button-glow;
    animation-duration: 15;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.fa {
    font-family: 'FontAwesome', 'Font-Awesome';
}

.fas {
    font-family: 'FontAwesome', "Font-Awesome-Solid";
}

.far {
    font-family: 'FontAwesome', "Font-Awesome-Regular";
}

.ico {
    font-family: "IcoMoon-Free";
}

.nt-drawer__content {
    /* background-color: #2b2b2b; */
    background: #2b2b2b;
    border-right-width: 0.3;
    border-right-color: var(--yellow);
}

.nt-drawer__header,
.header {
    background-color: #2b2b2b;
    border-bottom-width: 0.3;
    border-bottom-color: #ffb204;
    margin-bottom: 10;
}

.nt-drawer__body {
    background: #2b2b2b;
}

.item-list {
    font-family: "Montserrat", "Montserrat-Regular";
    text-transform: uppercase;
}

.nt-drawer__list-item {
    font-size: 15;
    color: var(--sidebar-item);
    margin-bottom: 15;
}

.active {
    font-weight: bold;
    color: var(--yellow);
}


/* animations */

.anim {
    animation-name: slide-in-left;
    animation-duration: 0.7;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.anim-delay {
    animation-name: slide-in-left;
    animation-delay: 0.5;
    animation-duration: 0.7;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}

.anim-delay-second {
    animation-name: slide-in-left;
    animation-delay: 1;
    animation-duration: 0.5;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}

.anim-delay-third {
    animation-name: slide-in-left;
    animation-delay: 1.5;
    animation-duration: 0.5;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}

.anim-delay-fourth {
    animation-name: slide-in-left;
    animation-delay: 2;
    animation-duration: 0.5;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes slide-in-left {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes button-glow {
    0% {
        background-color: #303030;
    }
    65% {
        background-color: #303030;
    }
    68% {
        background-color: #585858;
    }
    70% {
        background-color: #303030;
    }
    100% {
        background-color: #303030;
    }
}