ChartAxisLabel {
    color: var(--yellow);
    margin: 12;
}

.underline {
    border-bottom-width: 0.3;
    border-color: var(--yellow);
    margin-right: 10;
    margin-left: 10;
    padding-bottom: 15;
}