.regform {
    background-color: var(--darker-background);
    margin: 20;
    border-width: 1;
    border-radius: 20;
    height: 90%;
    width: 80%;
    padding: 10;
    border-color: var(--yellow);
    border-width: 0.3;
    font-family: "Montserrat-Regular", "Montserrat";
}

.background-reg {
    background-color: rgba(19, 19, 19, 1);
}

.title Label {
    color: var(--yellow);
}

.label,
.input {
    color: var(--yellow);
    font-size: 20;
}

.ng-invalid.ng-touched {
    border-bottom-color: red;
    color: red;
    margin-bottom: 20;
}

.invalid {
    color: red;
}

.valid {
    color: rgb(152, 255, 152);
    border-bottom-color: rgb(152, 255, 152);
}

.buttons {
    background-color: var(--card-background);
    color: var(--yellow);
    border-width: 0.3;
    border-color: var(--yellow);
    font-size: 14;
}