.menu,
.logout {
    color: var(--yellow);
}

ActionBar {
    background-color: #1f1f1f;
    border-bottom-color: var(--yellow);
    border-bottom-width: 0.3;
}

.flex-bar {
    /* flex-direction: column; */
    justify-content: space-between;
    /* align-items: stretch; */
    border-width: 1;
    border-color: red;
}

.page-title {
    font-size: 20;
    color: var(--yellow);
}