.note {
    padding-right: 100;
}

.hasNotification {
    color: #33ff00;
}

.noNotification {
    color: #00681a;
}

.logout {
    padding-right: 30;
}

ActionBar {
    background-color: #499776;
}

.test {
    color: red;
}